body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #e5e5e5;
}

.top-bar {
  background: #222;
  color: white;
  padding: 10px 20px;
}

.top-bar h1 {
  margin: 0;
  font-size: 18px;
}

.container {
  width: 600px;
  margin: 40px auto;
}

.container h2 {
  font-weight: normal;
}

.input-group {
  display: flex;
  gap: 10px;
  margin: 20px 0;
}

.input-group input {
  flex: 1;
  padding: 8px;
}

.input-group button {
  padding: 8px 14px;
  background: #3b82f6;
  border: none;
  color: white;
  border-radius: 4px;
  cursor: pointer;
}


.task-list {
  list-style: none;
  padding: 0;
  border: 1px solid #ccc;
  border-radius: 4px;
  background: white;
}

.task-list li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px 15px;
  border-bottom: 1px solid #ddd;
}

.task-list li:last-child {
  border-bottom: none;
}


.task-left {
  display: flex;
  align-items: center;
  gap: 10px;
}

.completed {
  text-decoration: line-through;
  color: gray;
}

.delete-btn {
  background: none;
  border: none;
  color: red;
  cursor: pointer;
  font-size: 16px;
}
